<div class="container">
      <div class="page-header">
        <h1>Gestión de productos a publicar</h1>
      </div>
      <div class="alert alert-info" role="alert" ng-hide="productos.length > 0">
        No existen registros.
      </div>
	 <button type="button" class="btn btn-warning pull-right" ng-click = "consultarProductos()">Consultar</button>
      <form class="form-horizontal" role="form">
      
      <select ng-model = "lineaSelected" ng-options="linea as linea for linea in lineas"></select>
      
      <div class="panel panel-default">

		 <div class="panel-heading">Productos disponibles</div>
		
		 <table class="table">
		  <tr>
			<th>Descripción </th>
		    <th>Linea </th>
		    <th>Sexo </th>
		    <th>Marca </th>
		</tr>
		  <tr ng-repeat="producto in productos">
		    <td>{{producto.descripcion}}</td>
		    <td>{{producto.linea}}</td>
		    <td>{{producto.sexo}}</td>
		    <td>{{producto.marca}}</td>
		    <td>
		    <button type="button" class="btn btn-info" ng-click = "openAlmacenes(producto)">Ver almacenes</button>
		  	</td>
		  	 <td>	
		    <button type="button" class="btn btn-info" ng-click = "openTallas(producto)">Ver Tallas</button>
		  	</td>
		  	 <td>	
		    <button type="button" class="btn btn-primary" ng-click = "publicar(producto)">Publicar</button>
		  	</td>
		  </tr>
		</table>
	</div>
        <hr />
      </form>
    </div>
    
 <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title-{{name}}">Tallas disponibles</h3>
        </div>
        <div class="modal-body" id="modal-body-{{name}}">
           <table class="table">
		  <tr>
			<th>Talla </th>
		    <th>Cantidad </th>

		</tr>
		  <tr ng-repeat="talla in tallas">
		    <td>{{talla.descripcion}}</td>
		    <td>{{talla.cantidad}}</td>
		  </tr>
		</table>
        </div>
</script>

 <script type="text/ng-template" id="myModalAlmacenes.html">
        <div class="modal-header">
            <h3 class="modal-title">Almacenes disponibles</h3>
        </div>
        <div class="modal-body">
           <table class="table">
		  <tr>
			<th>Nombre</th>
		</tr>
		  <tr ng-repeat="almacen in almacenes">
		    <td>{{almacen}}</td>
		  </tr>
		</table>
        </div>
</script>

 <script type="text/ng-template" id="myModalPublicar.html">
        <div class="modal-header">
            <h3 class="modal-title">Publicar producto</h3>
			<h5  class="modal-title">
        </div>
        <div class="modal-body">
             <p>{{producto.descripcion}} - {{producto.marca}} - {{producto.sexo}}</p>

			<ul>
                <li>
					<label>Ingresar talla</label>
				</li>
				<li>
					<input ng-model="cantidad" />
				</li>
				
			</ul>
			<ul>
				 <li>
					<label>Ingresar Cantidad x talla</label>
				</li>
				<li>
					<input ng-model="cantidadTalla" />
				</li>
			</ul>
			<ul>
				<li>
					<button type="button" class="btn btn-default">Agregar</button>
				</li>
            </ul>
        </div>
		<div class="modal-footer">
         <button type="button" class="btn btn-default" ng-click="close()" data-dismiss="modal">Close
        </button>
        <button type="button" class="btn btn-primary" ng-click="publicar()">Publicar
        </button>
        </div>
</script>