 <form class="form-horizontal" role="form">      
<div class="container">
      <div class="page-header">
        <h1>Gestión de productos a publicar</h1>
      </div>
      <div class="alert alert-info" role="alert" ng-hide="productos.length > 0">
        No existen registros.
      </div>
     
      <div class="form-inline">
      	<label class="mr-sm-2 form-control">Linea : </label>
	    <select class="mb-2 mr-sm-2 mb-sm-0  form-control" ng-model = "lineaSelected" ng-options="linea as linea for linea in lineas"></select>
	 	<button type="button" class="btn btn-warning" ng-click = "consultarProductos()">Consultar</button>
      </div>
      <div class="panel panel-default">

		 <div class="panel-heading">Productos disponibles</div>
		
		 <table class="table">
		  <tr>
			<th>Descripción </th>
		    <th>Linea </th>
		    <th>Sexo </th>
		    <th>Marca </th>
		</tr>
		  <tr ng-repeat="producto in productos">
		    <td>{{producto.descripcion}}</td>
		    <td>{{producto.linea}}</td>
		    <td>{{producto.sexo}}</td>
		    <td>{{producto.marca}}</td>
		    <td>
		    <button type="button" class="btn btn-info" ng-click = "openAlmacenes(producto)">Ver almacenes</button>
		  	</td>
		  	 <td>	
		    <button type="button" class="btn btn-info" ng-click = "openTallas(producto)">Ver Tallas</button>
		  	</td>
		  	 <td>	
		    <button type="button" class="btn btn-primary" ng-click = "publicar(producto)">Publicar</button>
		  	</td>
		  </tr>
		</table>
	</div>
        <hr />
    </div>
    </form>
 <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title-{{name}}">Tallas disponibles</h3>
        </div>
        <div class="modal-body" id="modal-body-{{name}}">
           <table class="table">
		  <tr>
			<th>Talla </th>
		    <th>Cantidad </th>

		</tr>
		  <tr ng-repeat="talla in tallas">
		    <td>{{talla.descripcion}}</td>
		    <td>{{talla.cantidad}}</td>
		  </tr>
		</table>
        </div>
</script>

 <script type="text/ng-template" id="myModalAlmacenes.html">
        <div class="modal-header">
            <h3 class="modal-title">Almacenes disponibles</h3>
        </div>
        <div class="modal-body">
           <table class="table">
		  <tr>
			<th>Nombre</th>
		</tr>
		  <tr ng-repeat="almacen in almacenes">
		    <td>{{almacen}}</td>
		  </tr>
		</table>
        </div>
</script>

 <script type="text/ng-template" id="myModalPublicar.html">
        <div class="modal-header">
            <h4 class="modal-title">Publicar producto</h4>
			<input type="text" class="form-control" ng-model="producto.descripcion" placeholder="Nombre producto">
        </div>
        <div class="modal-body">
			  
             <p>Marca : {{producto.marca}} Sexo : {{producto.sexo}}</p>

<div class="col-md-6 col-md-offset-1 "> 
		
	<div class="form-group row">
		<label class="col-form-label">Disponible en los almacenes</label>
		 <table class="table">
		  <tr ng-repeat="almacen in almacenes">
		    <td>{{almacen}}</td>
		  </tr>
		</table>
	</div>
</div>
<div class = "col-md-3 col-md-offset-2  ">

<div class="form-group row">
		<label class="col-form-label">Disponible en las tallas</label>
		 <table class="table">
		  <tr ng-repeat="almacen in almacenes">
		    <td>{{almacen}}</td>
		  </tr>
		</table>
	</div>
	
</div>
		<div class="form-group row">
      		<label class="col-sm-2 col-form-label">Talla</label>
      		<div class="col-sm-10">
        		<input type="number" class="form-control" ng-model="agregar.talla" placeholder="# Talla">
      		</div>
    	</div>
		<div class="form-group row">
      		<label class="col-sm-2 col-form-label">Cantidad x talla</label>
      		<div class="col-sm-10">
        		<input type="number" class="form-control" ng-model="agregar.cantidad" placeholder="Cantidad">
      		</div>
    	</div>
	<div class="form-group row">
        <button type="submit" class="btn btn-warning pull-right" ng-click="agregarProducto()">Agregar</button>
    </div>
<div>
	<label class="col-form-label">Productos listos para publicar</label>
	 <table class="table">
		  <tr>
			<th>Nombre</th>
			<th>Talla</th>
			<th>Cantidad</th>
		</tr>
		  <tr ng-repeat="prod in productosAgregados track by $index">
		    <td>{{prod.nombre}}</td>
			<td>{{prod.talla}}</td>
			<td>{{prod.cantidad}}</td>
		  </tr>
	</table>
</div>
        </div>
		<div class="modal-footer">
        <button type="button" class="btn btn-primary" ng-click="publicar()">Publicar
        </button>
        </div>
</script>