 <form class="form-horizontal" role="form"> 
 <div class="container">  
 
 <div>
        <h3>ASIGNACIÓN DE PRECIOS</h3>
 </div>
      
<div class="panel panel-default">

		 <div class="form-inline">
	      	<label class="form-control">#Paquete : </label>
		    <select class="form-control" required ng-model = "search.consecutivo" 
		    	ng-options="paquete.consecutivo as paquete.consecutivo for paquete in paquetes"></select>
	    </div>

		 <div class="panel-heading">
		 <label>Productos disponibles para gestionar</label>
		 <button type="button" class="btn btn-info pull-right" ng-click = "guardar()">Guardar</button>
		 </div>
		 <table class="table">
		  <tr>
			<th>Descripción </th>
			<th>Referencia</th>
		    <th>Linea </th>
		    <th>Genero </th>
		    <th>Marca </th>
		    <th>Precio venta sportage</th>
		    <th>Costo SNK</th>
		</tr>
		  <tr ng-repeat="producto in productos |filter:search">
		    <td>{{producto.descripcion}}</td>
		    <td>{{producto.referenciaProov}}</td>
		    <td>{{producto.linea}}</td>
		    <td>{{producto.genero}}</td>
		    <td>{{producto.marca}}</td>
		     <td>{{producto.precio}}</td>
		    <td><input ng-disabled="producto.preciocompra > 0" type="number" ng-model="producto.precioPantalla"/><td>
		    <td>{{producto.precioPantalla | number:0}}</td>
		  	
		  </tr>
		</table>
	</div>
	
	</div>
	</form>
	