@CHARSET "ISO-8859-1";

ul{
margin:0px;
padding:0px;
list-style:none;
}
li{
list-style:none;
list-style-type:none;
border-bottom: 0px solid #CCCCCC;

}

#loading-bar .bar {
  position: relative;
}

.thumbnail{
   float:left;
    width: 60px;
 }
 
input.ng-invalid.ng-touched{
  border-bottom: 1px solid #e74c3c !important; 
}